{% extends 'base.html.twig' %}

{% block title %}Hello DepartmentController!{% endblock %}

{% block body %}
    <div class="px-3">
        {% for i in departments %}
            <div class="card" style="margin-bottom: 1em;">
                <div class="card-body">
                    1
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
